<mat-card class="dialog-warning">
  <mat-card-header style="display: grid; text-align: center; place-content: center;">
    <mat-icon fontIcon="warning" class="icon-warning" color="accent">Error</mat-icon>
    <mat-card-title>Ops!</mat-card-title>
  </mat-card-header>
  <div style="padding-inline: 15px; margin-bottom: 10px;margin-top: 10px;">
    <mat-divider></mat-divider>
  </div>
  <mat-card-content class="warning-text">
    <mat-card-subtitle>Insira pelo menos um arquivo para realizar a operação!</mat-card-subtitle>
  </mat-card-content>
</mat-card>
