<mat-card class="dialog-error">
  <mat-card-header style="display: grid; text-align: center; place-content: center;">
    <mat-icon fontIcon="error" class="icon-error" color="warn">Error</mat-icon>
    <mat-card-title>Ops!</mat-card-title>
  </mat-card-header>
  <div style="padding-inline: 15px; margin-bottom: 10px;margin-top: 10px;">
    <mat-divider></mat-divider>
  </div>
  <mat-card-content class="error-text">
    <mat-card-subtitle>Apenas arquivos .xml são aceitos!</mat-card-subtitle>
    <mat-card-subtitle>Selecione os arquivos corretos </mat-card-subtitle>
    <mat-card-subtitle>e tente novamente.</mat-card-subtitle>
  </mat-card-content>
</mat-card>
