.dialog-error{
  margin-bottom: 8pxs;
  display: grid;
  text-align: center;
  place-content: center;
}

.icon-error{
  font-size: 100px;
  height: 100px;
  width: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.error-text{
  display: grid;
  text-align: center;
  place-content: center;
}
